<h1>{{application_name}} !</h1>
<table class="kanban">
    <tr>
        <th style="width:{{colWidth()}}%" ng-repeat="stepsObject in stepsObjects | orderBy:'taskOrder'">{{stepsObject.title}}</th>
    </tr>
    <tr>
        <td  ng-repeat="stepsObject in stepsObjects | orderBy:'taskOrder'">


            <div class="task" ng-repeat="object in stepsObject.value">
                <h4 title="{{object.title}}">&#10026; {{object.title | cut:true:30}}</h4>
                <p class="description" title="{{object.description}}">{{object.description | cut:true:100}}</p>
                <p class="owner">{{object.owner}}</p>
                <p class="task-menu">
                    <a href="" ng-if="hasLeft(stepsObject.taskOrder)" ng-click="goLeft(object.id,stepsObject.taskOrder)">&#10096;</a> 
                    <a href="" ng-click="goElement(object.id)">&#9733;</a>
                   <a href="" ng-if="hasRight(stepsObject.taskOrder)" ng-click="goRight(object.id,stepsObject.taskOrder)">&#10097;</a> 
               </p>
            </div>
        </td>
    </tr>
</table>
<footer><p>{{application_name}} designed for your needs !</p></footer>